<%- include("partials/header") -%>
        <h1><%=title%></h1>
        <p><%=content%></p>
    </div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
</body>
</html>
